# IDE and OS files
.DS_Store
.idea
.vscode
.env

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing and coverage
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Model and data files
*.bin
*.pkl
*.pt
input.txt

# Documentation and text files
*.md
*.txt
!README.md
!requirements.txt

# Documentation folders
Docs/
docs/

# Data folder (track folder with .gitkeep only)
data/*
!data/.gitkeep

# Not-main folders
not-main/

# Backup Folder (track folder with .gitkeep only)
ckpt_backup/*
!ckpt_backup/.gitkeep
ckpt_result_*/

test.ipynb
